@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-background: #44403b;
    --font-sans: "Geist Variable";
    --font-serif: "EB Garamond Variable";
    --font-mono: "Fira-Code";
}

body {
    background-color: var(--color-background);
    font-family: "Geist Variable", sans-serif;
}
bold {
    font-weight: 800;
}

.bg-scenic-image {
    background-image: url("/assets/bg-scenic-image.jpg");
    background-size: 50%;
    background-position: top 50% left 0;
}
@media (max-width: 48rem) {
    .bg-scenic-image {
        background-size: 48em;
        background-position: top -24em left 50%;
    }
}

.solid {
    @apply bg-stone-700;
}

.pretty {
    @apply prose prose-invert prose-stone text-shadow-stone-900 text-shadow-md/50 tracking-widest max-w-full;
}

.page-head {
    @apply min-h-32 flex flex-col justify-end align-text-bottom px-16 text-xl md:text-2xl md:min-h-48 py-4 font-serif;
}

.continent {
    @apply bg-stone-700 mx-0 min-w-full;
}

.pretty-button {
    @apply p-2 bg-stone-800 rounded-md w-full border-stone-800 border-2 hover:bg-stone-900 active:bg-stone-950 focus:outline-2 focus:outline-stone-700 focus:outline-offset-2
}
