@import "./gruvbox.css";
@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant hocus (&:hover, &:focus);

@theme {
	--color-background: var(--color-grv-bg1);
	--font-sans: "Geist Variable";
	--font-serif: "EB Garamond Variable";
	--font-mono: "Fira-Code";
}

:root {
	--default-transition-duration: 0ms;
}

body {
	background-color: var(--color-background);
	color: var(--color-grv-fg0);
	font-family: "Geist Variable", sans-serif;
	transition-property: background-color;
	transition-duration: var(--default-transition-duration);
	@apply starting:bg-(--color-background);
}
.bold {
	font-weight: 800;
}

.pretty {
	@apply prose prose-gruvbox tracking-widest max-w-full transition-[color]
	prose-headings:duration-(--default-transition-duration)
	prose-code:duration-(--default-transition-duration)
	prose-pre:duration-(--default-transition-duration)
	prose-ul:duration-(--default-transition-duration)
	prose-ol:duration-(--default-transition-duration)
	prose-li:duration-(--default-transition-duration)
	prose-a:duration-(--default-transition-duration)
	marker:duration-(--default-transition-duration)
	;
}

.pretty-link {
	@apply tracking-widest px-1 text-grv-green hover:text-grv-green-bright focus:text-grv-green-bright outline-none focus:outline-none motion-safe:focus:font-bold motion-safe:hover:font-bold not-hocus:decoration-transparent underline-offset-3;
}

.page-head {
	@apply flex flex-col justify-center align-text-bottom text-xl md:text-2xl py-4 font-serif;
}
