[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = "0.8.4"
tokio = { version = "1.45.1", features = ["fs", "macros", "rt-multi-thread"] }
tower-http = { version = "0.6.6", features = ["fs"] }
