default_job = "check"
env.CARGO_TERM_COLOR = "always"

[jobs.wasm-dev]
command = ["sh", "-c", "cargo build && wasm-bindgen target/wasm32-unknown-unknown/debug/portfolio.wasm --out-dir ../client/src/lib/pkg"]
need_stdout = false

[jobs.wasm-release]
command = ["sh", "-c", "cargo build --release && wasm-bindgen target/wasm32-unknown-unknown/release/portfolio.wasm --out-dir ../client/src/lib/pkg"]

[jobs.check]
command = ["cargo", "check"]
need_stdout = false

[jobs.check-all]
command = ["cargo", "check", "--all-targets"]
need_stdout = false

# Run clippy on the default target
[jobs.clippy]
command = ["cargo", "clippy"]
need_stdout = false

# You may define here keybindings that would be specific to
# a project, for example a shortcut to launch a specific job.
# Shortcuts to internal functions (scrolling, toggling, etc.)
# should go in your personal global prefs.toml file instead.
[keybindings]
# alt-m = "job:my-job"
c = "job:clippy"
d = "job:wasm-dev"
b = "job:wasm-release"
